<div class="card shadow border-0">
  <div class="card-header">
    <h6>By employee</h6>
  </div>
  <div class="card-body">
    <canvas
      baseChart
      width="800"
      height="400"
      [datasets]="dataset"
      [labels]="labels"
      [options]="options"
      [colors]="colors"
      [legend]="true"
      [chartType]="'bar'"
    >
    </canvas>
  </div>
</div>
