<div class="container">
  <h4 class="page-title">Book Details</h4>
  <div class="mt-3">
    <app-book-form [book]="book" [showCode]="true" [genres]="genres" (actionClick)="onSubmit($event)"></app-book-form>
  </div>
</div>
