<div class="container">
  <div class="d-flex flex-row">
    <h4 class="page-title">
      <i class="fa fa-warehouse mr-2"></i>
      Storage
    </h4>
    <div class="input-group ml-auto col-6">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-search"></i>
        </span>
      </div>
      <input
        placeholder="Type here to search..."
        name="searchValue"
        type="text"
        class="form-control"
        [(ngModel)]="searchValue"
        (change)="loadData()"
      />
      <!-- <select name="searchBy" id="" class="form-control col-3" [(ngModel)]="searchBy" (change)="loadData()">
        <option value="id">by Id</option>
        <option value="title">by Title</option>
        <option value="genre">by Genre</option>
        <option value="author">by Author</option>
        <option value="publisher">by Publisher</option>
      </select> -->
    </div>
    <button class="btn btn-primary" [routerLink]="['/import']">
      <i class="fa fa-plus mr-2"></i>
      <span>New Book</span>
    </button>
  </div>

  <ngx-datatable
    class="bootstrap fullscreen mt-3 shadow rounded"
    [rows]="rows"
    rowHeight="auto"
    columnMode="force"
    [scrollbarH]="true"
  >
    <ngx-datatable-column width="76">
      <ng-template ngx-datatable-cell-template let-row="row">
        <div class="media">
          <img class="img-responsive img-thumbnail" [src]="(row?.imageBase64 | base64Image) || row?.imageUrl" />
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Code" prop="id" width="50"> </ngx-datatable-column>
    <ngx-datatable-column name="Title" prop="name"> </ngx-datatable-column>
    <ngx-datatable-column name="Author" prop="author"> </ngx-datatable-column>
    <ngx-datatable-column name="Publisher" prop="publisher"> </ngx-datatable-column>
    <ngx-datatable-column name="Genre" prop="genre.name"> </ngx-datatable-column>
    <ngx-datatable-column name="Amount" prop="amount" width="80"> </ngx-datatable-column>
    <ngx-datatable-column name="Price" prop="price">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span>{{ value | vnd }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column width="175">
      <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
        <button class="btn btn-outline-primary border-0 hvr-icon-grow" [routerLink]="['/books', row.id]">
          <i class="fa fa-eye hvr-icon"></i>
        </button>
        <button class="btn btn-outline-primary border-0 hvr-icon-bob" (click)="import(row)">
          <i class="fa fa-angle-double-up hvr-icon"></i>
        </button>
        <button class="btn btn-outline-primary border-0 hvr-icon-buzz-out position-relative" (click)="addToCart(row)">
          <i class="fa fa-cart-plus hvr-icon"></i>
          <span [hidden]="!row.amountInCart" class="badge badge-danger position-absolute">{{ row.amountInCart }}</span>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
