<div class="container">
  <h4 class="page-title">Report</h4>
  <div class="row">
    <div class="col-12 my-3">
      <app-report-by-employee></app-report-by-employee>
    </div>
    <div class="col-6 my-3">
      <app-report-by-time></app-report-by-time>
    </div>
    <div class="col-6 my-3">
      <app-report-by-genre></app-report-by-genre>
    </div>
  </div>
</div>
