<div class="card shadow border-0">
  <div class="card-header d-flex">
    <h6 class="my-auto">By time</h6>
    <div class="btn-group btn-group-sm ml-auto border rounded">
      <button class="btn btn-secondary btn-sm">This month</button>
      <button class="btn btn-sm">This week</button>
      <button class="btn btn-sm">Today</button>
    </div>
  </div>
  <div class="card-body">
    <canvas
      baseChart
      width="400"
      height="400"
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [colors]="pieChartColors"
      [legend]="pieChartLegend"
    >
    </canvas>
  </div>
</div>
