<div class="container">
  <h4 class="page-title" id="title">Edit Employee</h4>
  <form [formGroup]="reactiveForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="name">Full Name</label>
          <input
            type="name"
            [(ngModel)]="itemEmployee.name"
            required
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            class="form-control"
            id="name"
            formControlName="name"
            placeholder="enter full name"
          />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">name is required </div>
            <!-- <div *ngIf="f.name.errors.name">name must be a valid name address</div> -->
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Choose a role</label>

          <select
            [(ngModel)]="itemEmployee.role"
            [ngClass]="{ 'is-invalid': submitted && f.role.errors }"
            class="form-control"
            formControlName="role"
            id="exampleFormControlSelect1"
          >
            <!-- <option value="" selected disabled hidden>Choose here</option> -->
            <option *ngFor="let item of roleSelect">{{ item }}</option>
          </select>
          <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
            <div *ngIf="f.role.errors.required">Role is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="createDate">Created date </label>
          <input
            type="name"
            readonly
            [(ngModel)]="itemEmployee.createdDate"
            class="form-control"
            formControlName="createDate"
            id="createDate"
            value="{{ itemEmployee.createdDate | date: 'dd-MM-yyyy  ' }}"
          />
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="email">Email andress</label>
          <input
            type="email"
            [(ngModel)]="itemEmployee.email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            class="form-control"
            formControlName="email"
            id="email"
            aria-describedby="emailHelp"
            placeholder="enter email address"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">email is required</div>
            <div *ngIf="f.email.errors.email">email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Phone number</label>
          <input
            type="text"
            [(ngModel)]="itemEmployee.phone"
            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
            class="form-control"
            formControlName="phone"
            id="phone"
            placeholder="enter phone number"
          />
          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required">phone number is required</div>
            <div *ngIf="f.phone.errors.pattern">phone number must be a valid</div>
          </div>
        </div>
        <div class="form-group">
          <label for="mã nhân viên">ID</label>
          <input
            readonly
            type="text"
            [(ngModel)]="itemEmployee.id"
            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
            class="form-control"
            formControlName="id"
            id="id"
            placeholder="ID"
          />
          <!-- <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
              <div *ngIf="f.phone.errors.required">Bạn chưa nhập số điện thoại</div>
              <div *ngIf="f.phone.errors.pattern">phone phải đúng định dạng</div>
            </div> -->
        </div>
        <div>
          <button id="submit" [disabled]="reactiveForm.errors" type="submit" class="btn btn-primary">
              <i class="fa fa-save mr-1"></i>
            Save
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
