<div class="modal-header">
  <h5>Import to storage</h5>
  <button class="float-right close" (click)="modalRef.hide()">&times;</button>
</div>
<div class="modal-body">
  <div class="container">
    <h6 class="text-center">{{ book?.name }}</h6>
    <div class="form-row form-group">
      <label class="col-4 text-right">Book's Id</label>
      <input type="text" class="form-control col-7 offset-1" readonly name="id" [ngModel]="book.id" />
    </div>
    <div class="form-row form-group">
      <label class="col-4 text-right">Current amount</label>
      <input type="number" class="form-control col-7 offset-1" readonly name="amount" [ngModel]="book.amount" />
    </div>
    <div class="form-row form-group">
      <label class="col-4 text-right">Amount to import</label>
      <input type="number" class="form-control col-7 offset-1" name="importingAmount" [(ngModel)]="amount" />
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="update()">
    <i class="fa fa-save mr-1"></i>
    <span>Save</span>
  </button>
</div>
