/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
    background: #eecda3;
    background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
    background: linear-gradient(to right, #eecda3, #ef629f);
    min-height: 100vh;
  }
  .text-center{
      margin-top: 15px;
  }
.form-control text-center {
    width: 20px;
    margin-top: 21px !important;
}
.quantity{
    width: 30px;
}
.form-control text-center ng-untouched ng-pristine ng-valid {
    margin-top: 43px;
}
.table td{
    border: none !important;
}
.p-4{
    padding: 0 !important;
}
.quantity{
    vertical-align: middle;
}
#submit{
    float: right;
}