<div class="px-4 px-lg-0">
  <div class="pb-5">
    <div class="container">
      <form #checkoutForm="ngForm" (ngSubmit)="submit(checkoutForm)">
        <div class="row">
          <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
            <!-- Shopping cart table -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th
                      scope="col"
                      class="border-0
                      bg-light"
                    >
                      <div
                        class="p-2 px-3
                        text-uppercase"
                      >
                        Product
                      </div>
                    </th>
                    <th
                      scope="col"
                      class="border-0
                      bg-light"
                    >
                      <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th
                      scope="col"
                      class="border-0
                      bg-light"
                    >
                      <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                    <th
                      scope="col"
                      class="border-0
                      bg-light"
                    >
                      <div class="py-2 text-uppercase">Remove</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of books; let i = index">
                    <th scope="row" class="border-0">
                      <div class="p-2">
                        <img
                          [src]="loadImg(item)"
                          alt=""
                          width="70"
                          class="img-fluid rounded
                          shadow-sm"
                        />
                        <div
                          class="ml-3 d-inline-block
                          align-middle"
                        >
                          <h5 class="mb-0">
                            <a
                              href="#"
                              class="text-dark
                              d-inline-block
                              align-middle"
                              >{{ item.name }}</a
                            >
                          </h5>
                          <span
                            class="text-muted
                            font-weight-normal
                            font-italic d-block"
                            >Genre: {{ item.genre.name }}</span
                          >
                          <span
                            class="text-muted
                            font-weight-normal
                            font-italic d-block"
                            >Publisher: {{ item.publisher }}</span
                          >
                        </div>
                      </div>
                    </th>
                    <td class="border-0 align-middle">
                      <strong>{{ item.price }}$</strong>
                    </td>
                    <td class="quantity">
                      <div class="form-group">
                        <input
                          type="number"
                          [(ngModel)]="item.amount"
                          [ngModelOptions]="{ standalone: true }"
                          required
                          class="form-control
                          text-center"
                        />
                      </div>
                    </td>
                    <td class="border-0 align-middle">
                      <button type="button" class="btn btn-outline-dark border-0" (click)="removeBook(item)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End -->
          </div>
        </div>

        <div class="row py-5 p-4 bg-white rounded shadow-sm">
          <div class="col-lg-6">
            <div
              class="bg-light rounded-pill px-4 py-3
              text-uppercase font-weight-bold"
            >
              Customer Information
            </div>
            <div class="p-4">
              <div
                class="input-group mb-4 border rounded-pill
                p-2"
              >
                <input
                  [(ngModel)]="customer.name"
                  type="text"
                  name="name"
                  placeholder="Name Customer"
                  aria-describedby="button-addon3"
                  class="form-control border-0"
                />
                <div class="input-group-append border-0"></div>
              </div>
            </div>
            <div class="p-4">
              <div
                class="input-group mb-4 border rounded-pill
                p-2"
              >
                <input
                  [(ngModel)]="customer.phone"
                  type="text"
                  name="phone"
                  placeholder="Phone number"
                  aria-describedby="button-addon3"
                  class="form-control border-0"
                />
                <div class="input-group-append border-0"></div>
              </div>
            </div>
            <div class="p-4">
              <div
                class="input-group mb-4 border rounded-pill
                p-2"
              >
                <input
                  type="text"
                  [(ngModel)]="customer.email"
                  name="email"
                  placeholder="Email"
                  aria-describedby="button-addon3"
                  class="form-control border-0"
                />
                <div class="input-group-append border-0"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div
              class="bg-light rounded-pill px-4 py-3
              text-uppercase font-weight-bold"
            >
              Order summary
            </div>
            <div class="p-4">
              <ul class="list-unstyled mb-4">
                <li class="d-flex justify-content-between py-3 border-bottom">
                  <strong class="text-muted">Order Subtotal</strong>
                  <strong>{{ sumPrice() }}$</strong>
                </li>
                <li
                  class="d-flex justify-content-between py-3
                  border-bottom"
                >
                  <strong class="text-muted">Shipping and handling</strong>
                  <strong>0$</strong>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                  <strong class="text-muted">Total</strong>
                  <h5 class="font-weight-bold">{{ sumPrice() }}$</h5>
                </li>
              </ul>
              <button id="submit" type="submit" class="btn btn-primary" [disabled]="books?.length === 0">
                Check out
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
