<div class="container">
    <h4 class="page-title" id="title">List Of Employees</h4>
  <div class="input-group w-100">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-search"></i>
      </span>
    </div>
    <input name="searchValue" (change)="changed($event)" (keydown.enter)="fillterEmployee($event)" type="text"
      placeholder="Type here to search..." class="form-control" />
    <!-- <select name="searchBy" id="" class="form-control col-3">
      <option value="name">Search by Name</option>
      <option value="name">Search by Email</option>
    </select> -->
    <button class="btn btn-primary mx-1" [routerLink]="['/addEmployees']">
      <i class="fa fa-plus mr-2"></i>
      <span>Add Employee</span>
    </button>
  </div>
  <ngx-datatable [offset]="tableOffset" class="bootstrap fullscreen" [rows]="rowsEmployess" rowHeight="auto"
    columnMode="force">
    <ngx-datatable-column width="64">
      <ng-template ngx-datatable-cell-template>
        <div class="media">
          <img class="w-100"
            src="assets/avatar.jpg" />
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Full Name" prop="name"> </ngx-datatable-column>
    <ngx-datatable-column name="ID" prop="id" width="150"> </ngx-datatable-column>
    <ngx-datatable-column name="Phone Number" prop="phone" width="50"> </ngx-datatable-column>
    <ngx-datatable-column name="Email Address" prop="email" width="150"> </ngx-datatable-column>
    <ngx-datatable-column name="Role" prop="role" width="80" style="margin-left: 35px;"> </ngx-datatable-column>
    <!-- <ngx-datatable-column name="Price" prop="price" width="120">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span>{{ value | number }}</span>
      </ng-template>
    </ngx-datatable-column> -->
    <ngx-datatable-column width="150">
      <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
        <button id="editEmployee" class="btn btn-primary mx-1" [routerLink]="['/editEmployee', row.id]">
          <i class="fa fa-edit"></i>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>