@import "./theme-variables.scss";
/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

body {
  font-family: "roboto";
  font-size: 13px;
}

// Scrollbar
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  $shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
}

::-webkit-scrollbar-thumb {
  background-color: gray("500");
  outline: 1px solid slategrey;
}

// Datatable
.ngx-datatable.bootstrap {
  .empty-row {
    text-align: center;
  }
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
  border: none;
  transition: background-color ease 0.5s;
  &:hover {
    background: lighten($color: theme-color("primary"), $amount: 50) !important;
  }
  &.datatable-row-even {
    background-color: gray("100");
  }
}

.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
  border: none;
  font-weight: 600;
  color: gray("700");
}

// Remove outline of button, input,...
.close:focus,
.btn:focus,
.btn:active,
.form-control:focus {
  box-shadow: none;
}

// Form colors
.form-group label {
  text-transform: uppercase;
  color: theme-color("info");
}
.input-group .input-group-text {
  background-color: gray("100");
  color: gray("600");
}
input,
select {
  &.form-control.ng-invalid.ng-touched {
    border-color: theme-color("danger");
  }
}

// Page title
.page-title {
  text-transform: uppercase;
  font-family: "roboto-bold";
  margin: auto 0;
  color: theme-color("primary");
  text-shadow: gray("400") 0px 2px 5px;
  .fa,
  .fas,
  .fab,
  .far {
    margin-right: 0.25em;
  }
}
