<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a [routerLink]="['/']" class="navbar-brand" translate>APP_NAME</a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <!-- <a class="nav-item mr-2 nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <i class="mr-1 fas fa-home"></i>
          <span translate>Home</span>
        </a> -->
        <a class="nav-item mr-2 nav-link text-uppercase" routerLink="/storage" routerLinkActive="active">
          <i class="mr-1 fas fa-warehouse"></i>
          <span translate>Storage</span>
        </a>
        <a class="nav-item mr-2 nav-link text-uppercase" routerLink="/import" routerLinkActive="active">
          <i class="mr-1 fas fa-truck-loading"></i>
          <span translate>Import</span>
        </a>
        <a class="nav-item mr-2 nav-link text-uppercase" routerLink="/report" routerLinkActive="active">
          <i class="mr-1 fas fa-chart-line"></i>
          <span translate>Report</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/employees" routerLinkActive="active">
          <i class="fas fa-user"></i>
          <span translate>Employees</span>
        </a>
        <!-- <a class="nav-item mr-2 nav-link text-uppercase" routerLink="/about" routerLinkActive="active">
          <i class="mr-1 fas fa-question-circle"></i>
          <span translate>About</span>
        </a> -->
      </div>
      <div class="navbar-nav ml-auto">
        <a class="nav-item mr-2 nav-link text-uppercase" routerLink="/cart" routerLinkActive="active">
          <i class="mr-1 fas fa-shopping-cart"></i>
          <span translate>Cart</span>
          <span class="badge badge-danger ml-1">{{ cartSize$ | async }}</span>
        </a>
        <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
            <i class="fas fa-user-circle"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="user-dropdown">
            <h6 class="dropdown-header">
              <span translate>Logged in as </span> <b>{{ username }}</b>
            </h6>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="logout()" translate>Logout</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
