<form class="container" #form="ngForm">
  <div class="row">
    <div class="col-3 align-self-center">
      <div class="d-flex flex-column">
        <div class="media">
          <img class="w-100" [src]="(book?.imageBase64 | base64Image) || book?.imageUrl" alt="" />
        </div>
        <button class="btn btn-link btn-sm rounded-pill mx-auto my-3">
          <i class="fa fa-upload mr-1"></i> Change image
        </button>
      </div>
    </div>
    <div class="col-4 offset-1">
      <div class="form-group">
        <label for="">Title</label>
        <input
          type="text"
          placeholder="Book's title"
          class="form-control"
          required
          [(ngModel)]="book.name"
          name="name"
        />
      </div>
      <div class="form-group" *ngIf="showCode">
        <label for="">Code</label>
        <input
          type="text"
          placeholder="Book's code"
          class="form-control"
          required
          [(ngModel)]="book.id"
          name="id"
          readonly
        />
      </div>
      <div class="form-group">
        <label for="">Genre</label>
        <select name="genre" class="form-control" placeholder="Select one" required [(ngModel)]="book.genre.id">
          <option [value]="item?.id" *ngFor="let item of genres">
            {{ item?.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Description</label>
        <textarea
          rows="5"
          class="form-control"
          placeholder="Description"
          [(ngModel)]="book.description"
          name="description"
        ></textarea>
      </div>
    </div>
    <div class="col-3 offset-1">
      <div class="form-group">
        <label for="">Author</label>
        <input type="text" class="form-control" placeholder="Author" required [(ngModel)]="book.author" name="author" />
      </div>
      <div class="form-group">
        <label for="">Publisher</label>
        <input
          type="text"
          class="form-control"
          placeholder="Publisher"
          [(ngModel)]="book.publisher"
          name="publisher"
          required
        />
      </div>
      <div class="form-group">
        <label for="">Amount</label>
        <input
          type="number"
          class="form-control"
          placeholder="Amount"
          [(ngModel)]="book.amount"
          name="amount"
          required
          min="0"
        />
      </div>
      <div class="form-group">
        <label for="">Price</label>
        <input
          type="number"
          class="form-control"
          placeholder="Price"
          [(ngModel)]="book.price"
          name="price"
          required
          min="0"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="float-right">
        <button class="btn btn-primary" (click)="onSubmit(form)" type="submit">
          <i class="fa fa-save mr-1"></i>
          {{ actionLabel }}
        </button>
      </div>
    </div>
  </div>
</form>
